<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="<%= basePath %>/favicon.ico" />
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="<%= basePath %>/image/logo192.png" />
    <link rel="manifest" href="<%= basePath %>/manifest.json" />
    <title>Sweetie AI Web Control</title>
</head>
<body data-theme="dark">
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
</body>
</html>
